# Confluent Cloud REST API credentials
CONFLUENT_CLOUD_API_KEY=<YOUR_KAFKA_API_KEY>
CONFLUENT_CLOUD_API_SECRET=<YOUR_KAFKA_API_SECRET>

# Confluent Cloud environment and cluster details
CONFLUENT_ENVIRONMENT_ID=<YOUR_ENVIRONMENT_ID>
CONFLUENT_CLUSTER_ID=<YOUR_KAFKA_CLUSTER_ID>
CONFLUENT_CLUSTER_NAME=<YOUR_CLUSTER_NAME>
CONFLUENT_CLUSTER_REST_ENDPOINT=https://<YOUR_CLUSTER_REST_ENDPOINT>:443

# Topic configuration
TOPIC_NAME=inventory.transactions
TOPIC_PARTITIONS=6
TOPIC_RETENTION_MS=604800000 

# Flink API credentials
FLINK_API_KEY=<YOUR_FLINK_API_KEY>
FLINK_API_SECRET=<YOUR_FLINK_API_SECRET>
FLINK_API_URL=https://flink.<YOUR_REGION>.<YOUR_CLOUD>.confluent.cloud
CONFLUENT_FLINK_COMPUTE_POOL_ID=<YOUR_COMPUTE_POOL_ID>
CONFLUENT_ORG_ID=<YOUR_ORG_ID>

# watsonx Orchestrate creadentials to connect via ADK
WXO_INSTANCE_URL=<YOUR_URL>
WXO_API_KEY=<YOUR_API_KEY>
