config==0.5.1
crewai==0.193.2
eland==9.0.1
elasticsearch==9.1.1
fastapi==0.117.1
langchain_community==0.3.29
langchain_huggingface==0.3.1
nltk==3.9.1
pydantic==2.11.9
python-dotenv==1.1.1
sentence_transformers==5.1.1
