rapidfuzz==3.14.6
msal==1.38.0
types-requests==2.33.0.20260906
xsdata==26.2
simple-salesforce==1.12.10
python-dateutil==2.9.0.post0
pyjwt==2.13.0
pydantic-extra-types==2.11.1
requests>=2.34.2
ibm-cos-sdk==2.16.2
pyOpenSSL==26.4.0
certifi==2026.7.22
# Stay at bottom of file, these packages will be pulled as a dep from above.
# Used to resolve pants deps inference warnings
pycountry==26.2.16 # From pydantic-extra-types
twilio==9.11.0
