# Required by wxo_docs notebook
beautifulsoup4==4.14.2
lxml==6.0.2
requests==2.32.5
markdownify==1.2.0
python-dotenv==1.2.1
aiohttp==3.13.2
transformers==4.57.1
langchain==1.0.3
langchain-community==0.4.1
langchain-core
langchain_ibm==1.0.0
langchain-astradb==1.0.0
selenium==4.38.0
jupyter==1.1.1