# Required by wxo_docs notebook
beautifulsoup4==4.14.2
lxml==6.1.0
requests==2.32.5
markdownify==1.2.0
python-dotenv==1.2.3
aiohttp==3.14.3
transformers==5.10.0
langchain==1.3.9
langchain-community==0.4.1
langchain-core
langchain_ibm==1.0.0
langchain-astradb==1.0.0
selenium==4.38.0
jupyter==1.1.1